/* customizando checkbox */

.checkbox-label {
    display: inline-block;
}

.checkbox-box {
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #7a7a7a;
    background-color: white;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 5px;
}
.selection-mark {
    width: 22px;
    height: 22px;
}

/* Estilos quando o checkbox está marcado */
#custom-checkbox:checked+.checkbox-label .selection-mark {
    background-color: #70DC95;
    position: relative;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}
#custom-checkbox:checked+.checkbox-label .checkbox-box {
    border: 1px solid #70DC95;
}
.reminder-list-saida-list-item #custom-checkbox:checked+.checkbox-label .selection-mark {
    background-color: #F27575;
}
.reminder-list-saida-list-item #custom-checkbox:checked+.checkbox-label .checkbox-box {
    border: 1px solid #F27575;
}
.reminder-list-saida-list-item #custom-checkbox+.checkbox-label .checkbox-box {
    border: 1px solid #F27575;
}

.hiden {
    display: none;
}

.day-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.day-title-container {
    margin-top: 15px;
}

.reminders-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reminders-container {
    width: 100%;
}